# keep NOTION_TOKEN empty to skip syncing to notion
NOTION_TOKEN=
NOTION_MOVIE_DATABASE_ID=
NOTION_MUSIC_DATABASE_ID=
NOTION_BOOK_DATABASE_ID=
NOTION_GAME_DATABASE_ID=
NOTION_DRAMA_DATABASE_ID=

# keep NEODB_API_TOKEN empty to skip syncing to NeoDB
NEODB_API_TOKEN=

DOUBAN_USER_ID=
